@font-face{
	/*"WireWyrm" by zeimusu from https://fontlibrary.org/en/font/wirewyrm licensed OFL */
	font-family: "WireWyrm";
	src: url("WireWyrmMedium.otf") format("opentype");
}

html{
	color: #efefef;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	padding:1em;
	font-family: sans-serif;
	line-height: 1.75em;
	text-align: center;
	font-family: 'WireWyrm';
	font-weight: bolder;
	font-size: 130%;
}

header{
	padding-top:2em;
}

body{
	background-color: #303030;
}

footer{
	padding-top: 2em;
	padding-bottom: 2em;
}

h1, h2, h3{
	text-transform: uppercase;
	color: #D7CDA5;
	font-size: ;
}

a{
	color: #cc5200;
	text-decoration: none;
}
a:hover{
	color:orange;
}

.box{
	display:flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
}

.download{
	display:inline-block;
	background-color: #cc5200;
	color: white;
	width:100%;
}

.download:hover{
	background-color: orange;
}

.download h3{
	color: white;
	text-transform: lowercase;

}

.detail {
	display: inline-block;
	flex-basis: 15em;
	vertical-align: top;
}

img{
	font-size: initial;
	flex-basis: 49%;
	flex-grow: 1;
	display: inline-block;
	margin:.25em;

}

.blockp{
	text-align: left;
}

.mono{
	text-align: left;
	font-family: monospace;
}

